#page-content-wrapper div:first-child {
    display: table-cell !important;
    width: initial !important;
}

.input-group.date {
    display: table-cell !important;
    width: 320px;
}

.input-group.date > input {
    display: table-cell !important;
    width: 120px !important;
}

.input-group.date + div {
    display: table-cell;
    width: fit-content !important;
    padding-left: 10px;
}

.form-group.w-25 {
    float: left;
    display: table-cell;
    width: fit-content !important;
    padding-top: 50px;
    padding-right:10px;
}

.form-group.w-25 + div {
    display: table-cell;
    width: fit-content !important;
    padding-top: 50px;
}
